{% extends 'base.html' %}

{% block title %}Создание статьи{% endblock %}

{% block content %}
<h1>Создание статьи</h1>

<form method="POST" action="">
    {% csrf_token %}
    <p>
        <label>Название:</label>
        <input type="text" name="title" required>
    </p>
    <p>
        <label>Автор:</label>
        <input type="text" name="author">
    </p>
    <p>
        <label>Контент:</label>
        <textarea name="content" rows="10" cols="30" required></textarea>
    </p>
    <p>
        <label>Статус:</label>
        <select name="status_id">
            {% for s in status %}
                <option value="{{ s.id }}">{{ s.title }}</option>
            {% endfor %}
        </select>
    </p>
    <input type="submit" value="Создать">
</form>
{% endblock %}
