{% csrf_token %}
<p>
    <label>Название:</label>
    {% if errors.title %}
        <input type="text" name="title" value="{{ article.title }}">
        <p class="text-danger">{{ errors.title }}</p>
    {% else %}
        <input type="text" name="title" value="{{ article.title }}">
    {% endif %}
</p>
<p>
    <label>Автор:</label>
    {% if errors.author %}
        <input type="text" name="author" value="{{ article.author }}">
        <p class="text-danger">{{ errors.author }}</p>
    {% else %}
        <input type="text" name="author" value="{{ article.author }}">
    {% endif %}
</p>
<p>
    <label>Контент:</label>
    {% if errors.content %}
        <textarea name="content" rows="10" cols="30">{{ article.content }}</textarea>
        <p class="text-danger">{{ errors.content }}</p>
    {% else %}
        <textarea name="content" rows="10" cols="30">{{ article.content }}</textarea>
    {% endif %}

</p>

<button type="submit">{{ button_name }}</button>